# -*- encoding: utf-8 -*-

CONSUMER_KEY = 'consumer key here'
CONSUMER_SECRET = 'cousumer secret here'
ACCESS_TOKEN = 'access token here'
ACCESS_TOKEN_SECRET = 'access token secret here'
REDIS_URI_PRODUCTION = 'redis://redis_uri:1234'
REDIS_URI_DEBUG = 'redis://localhost:6379'
REDIS_URI = DEBUG ? REDIS_URI_DEBUG : REDIS_URI_PRODUCTION
